/* 

Linus

*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,900');

body {
    font-family: Montserrat, Arial;
    font-size: 12px;
    font-weight: 300;
    background: rgba(240,240,240,1);
    color: #333;
    padding: 0;
    margin: 0;
    min-width: 800px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


a {
    color: mediumpurple;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
/* drag */
.dragbar {
    height: 34px;
    background: rgb(24,23,22);
    width: 100%;
    font-size: 10px;
    line-height: 34px;
    padding: 0 20px;
    color: #333;
    font-family: Montserrat;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-app-region: drag;
    display: grid;
    grid-template-columns: auto 50px;
    position: sticky;
    z-index: 9999;
    left: 0;
    top: 0;
}

    .dragbar .dragbar-close {
        -webkit-app-region: no-drag;
        text-align: right;
        cursor: pointer;
    }

    .dragbar * {
        cursor: -webkit-grabbing;
        cursor: default;
        -webkit-user-select: none;
    }
/* HELPER */
.text-gradient {
    background: -webkit-linear-gradient(-70deg,#fff 0,#999 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}


/* HEADER (LETS REMOVE IT ALLTOGETHER AIGHT? */
header {
    background: rgb(233, 231, 231);
    padding: 40px;
    display: block;
    display: grid;
    display: none;
    grid-template-columns: 50px auto auto;
    position: relative;
    z-index: 2;
    height: 140px;
    border-radius: 20px;
    margin: 20px;
}

    header .background-image {
        background-image: url();
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
        background-blend-mode: multiply;
        position: absolute;
        bottom: -30px;
        right: 20px;
    }
    header .background-image img {
        height: 190px;
    }

    header .logo img {
        width: 50px;
        height: 50px;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }

    header .header-title {
        cursor: pointer;
        padding: 0 20px;
        font-weight: 900;
        font-size: 40px;
        line-height: 50px;
        font-family: Raleway;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        color: mediumpurple;
    }

section::-webkit-scrollbar {
    width: 2px; /* width of the entire scrollbar */
    padding-top: 20px;
}

section::-webkit-scrollbar-track {
    background: rgba(0,0,0,.3); /* color of the tracking area */
    border-radius: 6px;
    margin-top: 0px;
}

section::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.6); /* color of the scroll thumb */
    border-radius: 4px; /* roundness of the scroll thumb */
    border: 0px solid rgba(255,255,255,.3); /* creates padding around scroll thumb */
}

/* NAVIGATION */
nav {
    padding: 0 10px 0 10px;
    margin: 20px 20px;
    background: rgb(233, 231, 231);
    background: white;
    border: 1px solid rgb(233, 231, 231);
    font-weight: 300;
    font-size: 0.6rem;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}
nav .refreshit {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100px;
    background: rgba(147, 112, 216,.0);
    text-align: center;
    border: 1px solid rgba(147, 112, 216, .15);
    border-radius: 40px;
    border-top: 0;
    border-bottom: 0;
}
nav a.refreshit:hover::after {
    height: 200%;
    border-radius: 50%;
}

    nav a {
        display: inline-block;
        line-height: 44px;
        padding: 0 20px;
        text-transform: uppercase;
        transition: color 200ms ease-in;
        position: relative;
        z-index: 1;
        color: rgb(147, 112, 216);
    }
    nav a + a::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 20px;
        background: rgba(147, 112, 216,.0);
        transform: translateY(-50%);
    }
    a.nav-selected {
        color: white;
    }
        nav a:hover {
            color: white;
        }
        nav a:hover::after {
            content: ' ';
            width: 100%;
            height: 60%;
            background: rgba(147, 112, 216,.5);
            border-radius: 20px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            z-index: -1;
        }
        nav a.nav-selected::after {
            content: ' ';
            width: 100%;
            height: 60%;
            background: rgba(147, 112, 216,1);
            border-radius: 20px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            z-index: -1;
        }
    nav i {
        vertical-align: middle;
    }

section {
    padding: 0 20px;
}

section.listing {
    height: calc(100vh - 200px);
    width: calc(100vw - 20px);
    display: inline-block;
    scroll-behavior: smooth;
    overflow-y: overlay;
}
.configuration a {
    color: mediumpurple;
}
footer {
    padding: 20px;
    overflow:hidden;
    text-align: center;
    font-size:9px;
}
.message-notice {
    display: inline-block;
    padding: 20px 40px;
    background: white;
    border-radius: 40px;
    box-shadow: 0 0 40px white;
}
.loading {
    text-align: center;
}

/* form */
.configurations {
    margin-bottom: 40px;
}
input {
    line-height: 34px;
    background: white;
    border: 0;
    margin-right: 7px;
    padding: 0 14px;
    color: #9370d8;
    border-radius: 20px;
}
input:disabled {
    color: #bbb;
}
select {
    height: 35px;
    padding: 0 10px;
    color: mediumpurple;
    border: 0;
    border-radius: 20px;
    margin-right: 10px;
}

/* spinner */
.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: mediumpurple;
    border: 1px solid white;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(2.0);
      opacity: 0;
    }
  }

#listingsTable {
    width: 100%;
}

#listingsBody {
    list-style: none;
    margin: 0;
    padding: 0;
}
li div.items-header {
    font-weight: 800;
    font-size: 28px;
    margin: 40px 0;
    text-align: center;
    position: relative;
    color: mediumpurple;
    z-index:1;
}
li div.items-header span {
    background: rgb(240,240,240);
    display: inline-block;
    padding: 10px 20px;
}
    li div.items-header::after {
        content: '';
        position: absolute;
        left: 0%;
        top: 60%;
        width: 100%;
        height: 1px;
        background: rgba(0,0,0,.3);
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.4) 50%, rgba(0,0,0,0) 100%);
        z-index: -2;
    }

li.item {
    background: rgba(255,255,255,.6);
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 
        /* launch */
        30px
        /* text */
        auto
        /* options */  
        200px
        /* options 1 */
        200px;
}
li.item div.icon {
    cursor: pointer;
    color: mediumpurple;
}
li.item div.icon img {
    display: none;
}
li.item div.help {
    font-weight: 800;
}
li.item div.options {
    
}
li.item div.options form.options_form {}
li.item div.options form.show_options_form {}

.itemtext {
    font-size: 14px;
    font-weight: 800;
}

.itemdesc {
    color: #666;
    font-weight: 400;
    font-size:9px;
}

/* Options in the list, work around town */
.input_wrapper,
.input_wrapper_showoptions {
    font-size: 10px;
    white-space: nowrap;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 20px;
    padding-left: 5px;
}

.input_wrapper input,
.input_wrapper_showoptions input {
    margin: 0;
    vertical-align: middle;
    position: relative;
    right: -20px;
    display: none;
}

.input_wrapper label,
.input_wrapper_showoptions label {
    padding: 4px 34px 4px 6px;
    border-radius: 4px;
    font-size: 9px;
    margin-bottom: 1px;
    display: inline-block;
    position: relative;
    right: 5px;
    z-index:1;
    cursor: pointer;
}
/* toggle */
    .input_wrapper label::before {
        content: '';
        position: absolute;
        z-index: 3;
        top: 50%;
        right: 12px;
        width: 10px;
        height: 10px;
        background: rgba(0,0,0,.4);
        border-radius: 7px;
        border: 1px solid rgba(0,0,0,.4);
        transform: translateY(-50%);
        transition: all 200ms ease-in-out;
    }
    .input_wrapper label::after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 50%;
        right: -2px;
        width: 26px;
        height: 14px;
        background: rgba(0,0,0,.1);
        border-radius: 10px;
        border: 1px solid rgba(0,0,0,.1);
        transform: translateY(-50%);
        transition: all 200ms ease-in-out;
    }
/* end toggle */
label span {

}

.input_wrapper input:checked + label::before,
.input_wrapper_showoptions input:checked + label::before {
    background: rgba(255,255,255,1);
    border: 1px solid white;
    color: forestgreen;
    box-shadow: -2px 0px 4px rgba(0,0,0,.1);
    right: 0px;
}
.input_wrapper input:checked + label::after,
.input_wrapper_showoptions input:checked + label::after {
    background: rgba(255,255,0,1);
    background: darkorange;
    color: forestgreen;
}
}
  